.navbar__link {
  color: #fff;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s;
  padding-bottom: 5px;
}

.navbar__link:hover {
  color: #2894ff;
  transition: color 0.5s ease-in-out;
}