.navbar__link_border {
  display: block;
  position: absolute;
  background: #2894ff;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navbar__link:hover .navbar__link_border {  
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.5s;
}